<button (click)="onClick()">Button!</button>

<mat-tab-group>
  <mat-tab *ngFor="let dByschool of disciplinesBySchoolAndLevel | keyvalue" label={{dByschool.key}}>
    <div *ngFor="let dBylevel of dByschool.value | keyvalue" style="padding-left: 16px">
      <h2>{{dBylevel.key}}</h2>
      <div *ngFor="let d of dBylevel.value | keyvalue" style="padding-left: 32px">
        <div style="font-weight: bold">{{d.value.name}}</div>
        <div>{{d.value.sp}} SP</div>
        <div>{{d.value.description}}</div>
        <br>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

